html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

image {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.list-reset {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.section {
  padding: 80px 0;
}

.section__header {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-font-dark);
}

.section__text {
  margin: 0;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-dark);
}

.btn {
  padding: 20px 33px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-element);
  border: 2px solid var(--color-element);
  border-radius: 100px;
  outline: 3px solid transparent;
  outline-offset: 0;
  background-color: transparent;
  transition: outline .3s ease-in-out, outline-offset .3s ease-in-out, backround-color .3s ease-in-out;

}

:root {
  --color-font-light: #fff;
  --color-font-gray: #999;
  --color-font-dark: #333;
  --color-bg-dark: #000;
  --color-element: #9d5cd0;  /*change to active-element*/
  --focus-element: #7943a4;
  --hover-element: #9d5cd0;
  --active-element: #7943a4;

}

.is__active {
  display: flex !important;
}

/* header */
.header {
  position: relative;
  height: 100%;
}

.header__top {
  padding: 30px 0;
  background-color: var(--color-bg-dark);
}

.header__container {
justify-content: space-between;
align-items: center;
}

.header__logo:focus {
  outline: none;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  padding: 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-font-light);
  background-color: transparent;
  outline: none;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.nav__link:focus {
  background-color: var(--focus-element);
}

.nav__link:hover {
  cursor: url(../img/cursor-hero-hover.svg), pointer;
  color: #c283f3;
  background-color: transparent;
}

.nav__link:active {
  cursor: url(../img/cursor-hero-active.svg), pointer;
  color: var(--active-element);
  background-color: transparent;
}

.nav__list {
  height: 100%;
}

.header__btn {
  height: fit-content;
  padding: 6px;
  padding-left: 26px;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-font-light);
  /* background-image: url(../img/btn_singin.svg);
  background-repeat: no-repeat;
  background-position: center left 6px;
  background-size: 13px 13px; */
  background-color: transparent;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.header__btn-icon {
  width: 20px;
  height: 13px;
  padding-right: 7px;
  fill: white;
  transition: fill .3s ease-in-out;
}

.header__btn:focus {
  background-color: var(--focus-element);
}

.header__btn:hover {
  cursor: url(../img/cursor-hero-hover.svg), pointer;
  color: #c283f3;
  background-color: transparent;
}

.header__btn:active {
  cursor: url(../img/cursor-hero-active.svg), pointer;
  color: var(--active-element);
  background-color: transparent;
}

.header__btn:hover .header__btn-icon {
  fill: #c283f3;
}

.header__btn:active .header__btn-icon {
  fill: var(--active-element);
}

.header__bottom {
  position: absolute;
  width: 100%;
  top: 100%;
  padding: 23px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__list {
  margin-right: auto;
}

.header__item {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-font-light);
}

.header__item:not(:last-child) {
  margin-right: 96px;
}

.header__input {
  position: relative;
  width: 218px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
  outline: none;
  transition: border-color .3s ease-in-out;
}

.header__input:focus {
  border-color: #C283F3;
}

.header__input:hover {
  border-color: #C283F3;
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

.header__input:active {
  border-color: var(--active-element);
}

.header__search {
  position: relative;
  /* width: fit-content; */
}

.header__search::before {
  position: absolute;
  content: url(../img/search.svg);
  left: -30px;
  top: 50%;
  width: 22px;
  height: 23px;
  transform: translate(0, -50%);
}

.header__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  transition: color .3s ease-in-out;
}

.header__input:active::placeholder {
  color: transparent;
}

.header__list-btn {
  position: relative;
  padding: 6px;
  padding-right: 21px;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-font-light);
  background-color: transparent;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.header__list-btn:focus {
  background-color: var(--focus-element);
}

.header__list-btn:hover {
  cursor: url(../img/cursor-hero-hover.svg), pointer;
  background-color: transparent;
  color: var(--hover-element);
}

.header__list-btn:active {
  cursor: url(../img/cursor-hero-active.svg), pointer;
  background-color: transparent;
  color: var(--active-element);
}

.header__list-btn::after {
  position: absolute;
  content: '';
  top: calc(50% - 10px/2);
  right: 6px;
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--color-font-light);
  border-right: 1px solid var(--color-font-light);
  transform: rotate(135deg);
  transition: border-color .3s ease-in-out;
}

.header__list-btn:hover::after {
  border-color: var(--hover-element);
}

.header__list-btn:active::after {
  border-color: var(--active-element);
}

.header__inside {
  display: none;
  position: absolute;
  top: 50px;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__item-inside {
  position: relative;
  padding: 10px 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-font-light);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__item-inside:not(:last-child) {
  margin-bottom: 20px;
}

.header__item-inside:after {
  position: absolute;
  content: '';
  /* width: 216px;
  height: 35px; */
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid transparent;
  transition: border .3s ease-in-out;
}

.header__item-inside:focus:after{
  border-color: var(--hover-element);
}

.header__item-inside:hover:after{
  border-color: var(--hover-element);
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.header__item-inside:active:after{
  border: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
  ;
}

.header__item-inside--bg-1-1 {
  background-image: url(../img/bg-list-1-1.jpg);
}

.header__item-inside--bg-1-2 {
  background-image: url(../img/bg-list-1-2.jpg);
}

.header__item-inside--bg-1-3 {
  background-image: url(../img/bg-list-1-3.jpg);
}

.header__item-inside--bg-1-4 {
  background-image: url(../img/bg-list-1-4.jpg);
}

.header__item-inside--bg-2-1 {
  background-image: url(../img/bg-list-2-1.jpg);
}

.header__item-inside--bg-2-2 {
  background-image: url(../img/bg-list-2-2.jpg);
}

.header__item-inside--bg-2-3 {
  background-image: url(../img/bg-list-2-3.jpg);
}

.header__item-inside--bg-2-4 {
  background-image: url(../img/bg-list-2-4.jpg);
}

.header__item-inside--bg-3-1 {
  background-image: url(../img/bg-list-3-1.jpg);
}

.header__item-inside--bg-3-2 {
  background-image: url(../img/bg-list-3-2.jpg);
}

.header__item-inside--bg-3-3 {
  background-image: url(../img/bg-list-3-3.jpg);
}

.header__item-inside--bg-3-4 {
  background-image: url(../img/bg-list-3-4.jpg);
}

.header__item-inside--bg-4-1 {
  background-image: url(../img/bg-list-4-1.jpg);
}

.header__item-inside--bg-4-2 {
  background-image: url(../img/bg-list-4-2.jpg);
}

.header__item-inside--bg-4-3 {
  background-image: url(../img/bg-list-4-3.jpg);
}

.header__item-inside--bg-4-4 {
  background-image: url(../img/bg-list-4-4.jpg);
}

.header__item-inside--bg-5-1 {
  background-image: url(../img/bg-list-5-1.jpg);
}

.header__item-inside--bg-5-2 {
  background-image: url(../img/bg-list-5-2.jpg);
}

.header__item-inside--bg-5-3 {
  background-image: url(../img/bg-list-5-3.jpg);
}

.header__item-inside--bg-5-4 {
  background-image: url(../img/bg-list-5-4.jpg);
}

.header__list-inside {
  height: 220px;
  overflow-x: none;
}

.simplebar-scrollbar::before {
  width: 2px;
  background-color: #fff;
}
.simplebar-offset {
  padding-bottom: 0;
}

.simplebar-track {
  /* position: absolute; */
  right: -19px;
  background-color: #000;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
}

.simplebar-scrollbar.simplebar-visible {
  background-color: #fff;
}

/* .simplebar-offset {
  padding: 40px 0;
} */

/* hero */
.hero {
  background-image: url(../img/bg_hero-1.jpg);
}

.hero__container {
  padding: 53px 0 42px;
}

.hero__header {
  margin: 0;
  max-width: 600px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--color-font-light);
}

.hero__text {
  margin: 0;
  margin-bottom: 92px;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-font-light);
}

.hero__btn {
  color: var(--color-font-light);
  background-color: var(--color-element);
}

.hero__btn:focus {
  outline: 2px solid #d1a9f0;
  outline-offset: 3px;
}

.hero__btn:hover {
  outline: 3px solid #d1a9f0;
  outline-offset: 0;
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.hero__btn:active {
  outline: 3px solid #d1a9f0;
  outline-offset: 0;
  background-color: var(--active-element);
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

/* abaut-us */
.about-us__container {
  flex-direction: column;
}

.section__text {
  margin: 0;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-dark);
}

/* gallery */
.gallery {
  background-image: url(../img/bg-gallery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__header {
  color: var(--color-font-light);
}

.gallery__wrapper {
  width: 100%;
  justify-content: space-between;
}

.gallery__filter {
  flex-direction: column;
}

.gallery__label {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-light);
  border: none;
}

.gallery__label--select {
  margin-bottom: 176px;
  font-weight: 600;
}

.gallery__label--select:hover {
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

.choices {
  width: 400px;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  padding: 0;
  border: 1px solid #999999;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  padding: 6px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-light);
}

.is-open .choices__inner {
  padding: 5px 14px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

 .choices__list[aria-expanded].choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 1px solid #999;
  cursor: url(../img/cursor-hero-hover.svg), pointer;

}

.choices__item.choices__item--choice.is-selected.choices__placeholder.choices__item--selectable {
  display: none !important;
}

.choices__inner {
  padding: 5px 14px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.choices:focus .choices__inner {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices:hover .choices__inner {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

 .choices__list--single {
  padding: 0;
  padding-right: 16px;
}

.choices__item {
  opacity: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-light);
  cursor: inherit;
}

.choices[data-type*=select-one]::after {
  content: '';
  top: 50%;
  right: 16px;
  width: 12px;
  height: 12px;
  border: none;
  border-right: 1px solid var(--color-font-light);
  border-bottom: 1px solid var(--color-font-light);
  transform: translate(0, -50%) rotate(45deg);
}

.choices[data-type*=select-one].is-open::after {
  content: '';
  top: calc((100% - 7px)/2);
  width: 12px;
  height: 12px;
  border: none;
  border-right: 1px solid var(--color-font-light);
  border-bottom: 1px solid var(--color-font-light);
  transform: translate(0, 50%) rotate(-135deg);
}

 .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__list[aria-expanded]{
  background-color: transparent;
}




.gallery__painting {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__swipper {
  margin: 0;
  padding-top: 60px;
  width: 1150px;
  height: 410px;
  /* overflow:visible; */
}

.gallery__swiper-button-prev {
  width: 30px;
  top: 15px;
  left: 0;
}

.gallery__swiper-button-next:focus svg{
  outline: 2px solid #000;
}

.gallery-swiper-button-next  {
  width: 30px;
  top: 15px;
  left: 100px;
}

.gallery__swiper-button-prev.swiper-button-disabled {
  opacity: 1 ;
}

.gallery__swiper-button-prev.swiper-button-disabled .gallery__btn {
  fill: #ececec;
  stroke: #ececec;
}

.gallery__swiper-button-prev.swiper-button-disabled .gallery__btn .gallery__pointer{
  stroke: #cacaca;
}

.gallery-swiper-button-next.swiper-button-disabled {
  opacity: 1 ;
}

.gallery-swiper-button-next.swiper-button-disabled .gallery__btn {
  fill: #ececec;
  stroke: #ececec;
}

.gallery-swiper-button-next.swiper-button-disabled .gallery__btn .gallery__pointer{
  stroke: #cacaca;
}

.gallery__btn {
  fill: #666;
  stroke: #666;
  transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.gallery__pointer {
  stroke: white;
  transition: stroke .3s ease-in-out;
}

.gallery__swiper-button-prev .gallery__btn {
  transform: rotate(180deg);
}

.gallery__btn:hover {
  fill: var(--color-element);
  stroke: var(--color-element);
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

.gallery__btn:active {
  margin: -3px;
  fill: var(--active-element);
  stroke: #000;
  cursor: url(../img/cursor-hero-active.svg), pointer;

}

.gallery__swiper-button-prev:after {
  display: none;
}

.gallery-swiper-button-next:after {
  display: none;
}

.gallery .swiper-pagination-fraction {
  max-width: fit-content;
}

.gallery-swiper-pagination {
  top: 0;
  left: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-light);
}

.gallery__swiper-slide {
  position: relative;
  width: 350px;
  height: 350px;
  outline: 3px solid transparent;
}

.gallery__swiper-slide::before {
  position: absolute;
  content: '';
  top: 20px;
  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/gallery-loop.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 81px 79px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.gallery__swiper-slide:hover::before{
  opacity: 1;
}

.gallery__swiper-slide::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}

.gallery__swiper-slide:focus {
  outline-color: var(--focus-element);
}

.gallery__swiper-slide:active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}



/* .gallery__slide-hover {
  position: absolute;
  top: 20px;
  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/gallery-loop.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 81px 79px;
} */

.gallery__label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.gallery__input {
  display: none;
}

.input__check {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  transform: translate(0, -50%);
  transition: border-color .3s ease-in-out;
}

.input__check::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #c283f3;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.gallery__input:checked + .input__check::before {
  opacity: 1;
}


.gallery__input:checked + .input__check {
  border-color: var(--active-element);
}

.gallery__label:focus {
  color: #c283f3;
}

.gallery__label:focus .input__check{
  border-color: var(--active-element);
}

.gallery__label:hover {
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

.gallery__label:hover .input__check{
  border-color: var(--hover-element);
}

.gallery__label:active {
  cursor: url(../img/cursor-hero-active.svg), pointer;
}

.gallery__container {
  position: relative;
}

.modal {
  display: none;
  position: absolute;
  top: calc(50 - 250px);
  left: calc(50vw - 450px);
  width: 900px;
  height: 500px;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.modal__article {
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  background-color: #fff;
}

.modal__name {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-font-dark);
}

.modal__picture {
  padding: 0;
  margin: 0;;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-font-dark);
}

.modal__data {
  padding: 0;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-font-gray);
}

.modal__text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-font-dark);
}

/* catalog */
.gallery__cards {
  display: none;
  flex-direction: column;
  width: 50%;
  padding-right: 50px;
}

.gallery__figure {
  margin: 0;
}

.gallery__text {
  margin-bottom: 50px;
}

.gallery__pic-dsc {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-font-dark);
}

.gallery__time {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-font-gray);
}

.gallery__cards-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-dark);
}

.ac {
  position: relative;
  margin: 0;
  padding: 0;
  border-left: none;
  border-right: none;
  border-top: 1px solid #cacaca;
  border-bottom: none;
  background-color: transparent;
  transition: border-top-color .3s ease-in-out;
}

.ac:not(:last-child) {
  border-bottom: 1px solid #cacaca;
}

.ac .ac-trigger {
  padding: 41px 0;
  margin-bottom: -1px;
  border-bottom: 1px solid #cacaca;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-font-dark);
}

.ac .ac-trigger::after {
  content: '';
}

.ac .ac-panel .ac-text {
  padding: 25px 0;
  height: 338px;
  columns: 3;
  column-gap: 63px;
  column-fill: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-dark);
}

.ac.is-active .ac-header .ac-trigger::after {
  content: '';
}

.gallery__cards--active {
  display: flex;
}

.catalog__icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  fill: #ececec;
  stroke: transparent;
  transition: transform .3s ease-in-out, fill .3s ease-in-out, stroke .3s ease-in-out;
}

.is-active .catalog__icon {
  transform: translate(0, -50%) rotate(-180deg);
  fill: #d1a9f0;
  stroke: #9d5cd0;
}

.ac.is-active {
  border-top-color: #9d5cd0;
}

.is-active .ac-trigger {
  border-color: #9d5cd0;
  color: #9d5cd0;
}

.ac.is-active .ac-trigger:focus {
  color: #9d5cd0;
}

.catalog__trigger-header {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  background-color: inherit;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.ac .ac-trigger:focus {
  outline: none;
}

.ac .ac-trigger:focus .catalog__trigger-header{
  background-color: var(--color-element);
  color: var(--color-font-light);
}
.ac .ac-trigger:focus .catalog__icon {
  fill: #d1a9f0;
}

.catalog__trigger {
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
}

.catalog__trigger:hover {
  border-color: var(--color-element);
  color: var(--color-element);
}

.ac:hover {
  border-top-color: var(--color-element);
}


/* events */
.events__swiper.swiper {
  width: 100%;
  height: auto;
  padding: 0 25px;
  margin: 0 -25px;
}
/*
.events__swiper-button-next {
  position: relative;
} */

.events__swiper-button-next:after {
  position: absolute;
  content: url(../img/swipper-button.svg);
  width: 50px;
  height: 50px;
}

.events__swiper-button-prev:after {
  position: absolute;
  content: url(../img/swipper-button.svg);
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}

.events__swiper-button-prev.swiper-button-disabled, .events__swiper-button-next.swiper-button-disabled  {
  display: none;
}

.events__slide {
  flex-direction: column;
}


.events__picture {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.events__picture--1 {
  background-image: url(../img/events-1.jpg);
}

.events__picture--2 {
  background-image: url(../img/events-2.jpg);
}

.events__picture--3 {
  background-image: url(../img/events-3.jpg);
}

.events__picture--4 {
  background-image: url(../img/events-4.jpg);
}

.events__picture--5 {
  background-image: url(../img/events-5.jpg);
}

.events__dscr {
  min-height: 400px;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 50px;
  padding-bottom: 43px;
  border: 1px solid #cacaca;
  border-top: none;
}

.events__article {
  margin-bottom: auto;
}

.events__date, .events__place {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-font-gray);
}

.events__date {
  margin-bottom: 13px;
}

.events__header {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-font-dark);
}

.events__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.events__link {

  position: relative;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-element);
}

.events__link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: var(--color-element);
}

/* Projects */
.project__text {
  margin-bottom: 38px;
  max-width: 1080px;
}

.project__tooltip {
  position: relative;
  top: 5px;
}

.tippy-box {
  background-color: #9d5cd0;
  border: none;
  border-radius: 0;

}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
  border-top-color: #9d5cd0;
}

.tippy-content {
  padding: 8px 11px 14px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-font-light);
}

.project__partners-header {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-font-dark);
}

.project__swiper{
  align-self: center;
  width: 100%;

  padding: 0 75px;
  height: auto;
}

.project__slide {
  opacity: 0;
}

.swiper-slide-visible {
  opacity: 1;
}


.project__container {
  position: relative;
  flex-direction: column;
}

.project__swiper-button-next {

  /* object-fit: cover; */
}

.project__swiper-button-next:after {

  content: '';

}

.project__swiper-button-prev:after {

  content: '';

}

/* contacts */
.contacts {
  border-top: 1px solid #cacaca;
  padding-bottom: 0;
}

.contacts__container {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.contacts__address {
  flex-direction: column;
}

.contacts__header{
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.contacts__shop-address {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
 }

 /* .contacts__form {
  align-items: center;
 } */

.contacts__label:not(:last-child) {
  margin-right: 20px;
 }

.contacts__input {
  padding: 9px 24px;
  width: 270px;
  border: 1px solid #333;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-gray);
 }

 .contacts__btn {
  padding: 15px 33px;
  height: fit-content;
 }

 .contacts__s-media {
  flex-direction: column;
 }

 .contacts__s-media .contacts__header {
  margin-bottom: 6px;
 }

 .contacts__item:not(:last-child) {
  margin-right: 20px;
 }

 [class*="ground-pane"] {
  filter: grayscale(1);
 }

 .contacts__map {
  border-top: 1px solid #cacaca;
 }

 .contacts__map  {
   position: relative !important;
 }

 .ymaps-2-1-79-controls-pane {
  /* position: absolute; */
  left: calc(100% - 50px) !important;
}

 /* footer */
.footer {
  background-color: var(--color-bg-dark);
}

.footer__container  {
  justify-content: space-between;
  padding: 50px 0;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

