html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

image {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

:root {
  --color-font-light: #fff;
  --color-font-gray: #999;
  --color-font-dark: #333;
  --color-bg-dark: #000;
  --focus-element: #7943a4;
  --hover-element: #9d5cd0;
  --active-element: #7943a4;
  --color-elemeny-extra: #c283f3;
  --color-element-light: #d1a9f0;

}

.list-reset {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.section {
  padding: 80px 0;
}

.section__header {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-font-dark);
}

.section__text {
  margin: 0;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-dark);
}

.btn {
  padding: 22px 35px;
  border: 2px solid var(--color-element);
  border-radius: 100px;
  outline: 3px solid transparent;
  outline-offset: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-element);
  background-color: transparent;
  transition: outline .3s ease-in-out, outline-offset .3s ease-in-out, backround-color .3s ease-in-out;

}

.is__active {
  display: flex !important;
}

/* header */
.header {
  position: relative;
  height: 100%;
}

.header__top {
  padding: 29px 0;
  background-color: var(--color-bg-dark);
}

.header__container {
align-items: center;
}

.header__logo {
  margin-right: 173px;
}

.header__logo:focus {
  outline: none;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.header__nav {
  margin-right: auto;
}

.nav__link {
  padding: 6px;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-font-light);
  background-color: transparent;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.nav__link:focus {
  background-color: var(--focus-element);
}

.nav__link:hover {
  cursor: url(../img/cursor-hero-hover.svg), pointer;
  color: var(--color-elemeny-extra);
  background-color: transparent;
}

.nav__link:active {
  cursor: url(../img/cursor-hero-active.svg), pointer;
  color: var(--active-element);
  background-color: transparent;
}

.nav__list {
  height: 100%;
}

.header__btn {
  height: fit-content;
  padding: 6px;
  margin-right: -6px;
  padding-left: 26px;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-font-light);
  background-color: transparent;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.header__btn-icon {
  width: 20px;
  height: 13px;
  padding-right: 7px;
  fill: white;
  transition: fill .3s ease-in-out;
}

.header__btn:focus {
  background-color: var(--focus-element);
}

.header__btn:hover {
  cursor: url(../img/cursor-hero-hover.svg), pointer;
  color: var(--color-elemeny-extra);
  background-color: transparent;
}

.header__btn:active {
  cursor: url(../img/cursor-hero-active.svg), pointer;
  color: var(--active-element);
  background-color: transparent;
}

.header__btn:hover .header__btn-icon {
  fill: var(--color-elemeny-extra);
}

.header__btn:active .header__btn-icon {
  fill: var(--active-element);
}

.header__bottom {
  position: absolute;
  top: 100%;
  padding: 16px 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__list {
  margin-right: auto;
  margin-left: -7px;
}

.header__item {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-font-light);
}

.header__item:not(:last-child) {
  margin-right: 93px;
}

.header__input {
  position: relative;
  /* top: 5px; */

  padding: 0;
  width: 218px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
  transition: border-color .3s ease-in-out;
}

.header__input:focus {
  border-color: var(--color-elemeny-extra);
}

.header__input:hover {
  border-color: var(--color-elemeny-extra);
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

.header__input:active {
  border-color: var(--active-element);
}

.header__search {
  position: relative;
  display: flex;
  align-items: center;
}

.header__search::before {
  position: absolute;
  content: url(../img/search.svg);
  left: -35px;
  top: 50%;
  width: 22px;
  height: 23px;
  transform: translate(0, -50%);
}

.header__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  transition: color .3s ease-in-out;
}

.header__input:active::placeholder {
  color: transparent;
}

.header__list-btn {
  position: relative;
  padding: 6px;
  padding-right: 13px;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-font-light);
  background-color: transparent;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.header__list-btn:focus {
  background-color: var(--focus-element);
}

.header__list-btn:hover {
  cursor: url(../img/cursor-hero-hover.svg), pointer;
  background-color: transparent;
  color: var(--hover-element);
}

.header__list-btn:active {
  cursor: url(../img/cursor-hero-active.svg), pointer;
  background-color: transparent;
  color: var(--active-element);
}

.header__list-btn::after {
  position: absolute;
  content: '';
  top: calc(50% - 10px/2);
  right: 0px;
  width: 8px;
  height: 8px;
  border-top: 1px solid var(--color-font-light);
  border-right: 1px solid var(--color-font-light);
  transform: rotate(135deg);
  transition: border-color .3s ease-in-out;
}

.header__list-btn:hover::after {
  border-color: var(--hover-element);
}

.header__list-btn:active::after {
  border-color: var(--active-element);
}

.header__list-btn--4 {
  padding-left: 7px;
  padding-right: 16px;
}

.header__inside {
  position: absolute;
  top: 50px;
  display: none;
  flex-direction: column;
  padding: 40px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__item-inside {
  position: relative;
  padding: 10px 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-font-light);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__item-inside:not(:last-child) {
  margin-bottom: 20px;
}

.header__item-inside:after {
  position: absolute;
  content: '';
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid transparent;
  transition: border .3s ease-in-out;
}

.header__item-inside:focus:after{
  border-color: var(--hover-element);
}

.header__item-inside:hover:after{
  border-color: var(--hover-element);
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.header__item-inside:active:after{
  border: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

.header__item-inside--bg-1-1 {
  background-image: url(../img/bg-list-1-1.jpg);
}

.header__item-inside--bg-1-2 {
  background-image: url(../img/bg-list-1-2.jpg);
}

.header__item-inside--bg-1-3 {
  background-image: url(../img/bg-list-1-3.jpg);
}

.header__item-inside--bg-1-4 {
  background-image: url(../img/bg-list-1-4.jpg);
}

.header__item-inside--bg-2-1 {
  background-image: url(../img/bg-list-2-1.jpg);
}

.header__item-inside--bg-2-2 {
  background-image: url(../img/bg-list-2-2.jpg);
}

.header__item-inside--bg-2-3 {
  background-image: url(../img/bg-list-2-3.jpg);
}

.header__item-inside--bg-2-4 {
  background-image: url(../img/bg-list-2-4.jpg);
}

.header__item-inside--bg-3-1 {
  background-image: url(../img/bg-list-3-1.jpg);
}

.header__item-inside--bg-3-2 {
  background-image: url(../img/bg-list-3-2.jpg);
}

.header__item-inside--bg-3-3 {
  background-image: url(../img/bg-list-3-3.jpg);
}

.header__item-inside--bg-3-4 {
  background-image: url(../img/bg-list-3-4.jpg);
}

.header__item-inside--bg-4-1 {
  background-image: url(../img/bg-list-4-1.jpg);
}

.header__item-inside--bg-4-2 {
  background-image: url(../img/bg-list-4-2.jpg);
}

.header__item-inside--bg-4-3 {
  background-image: url(../img/bg-list-4-3.jpg);
}

.header__item-inside--bg-4-4 {
  background-image: url(../img/bg-list-4-4.jpg);
}

.header__item-inside--bg-5-1 {
  background-image: url(../img/bg-list-5-1.jpg);
}

.header__item-inside--bg-5-2 {
  background-image: url(../img/bg-list-5-2.jpg);
}

.header__item-inside--bg-5-3 {
  background-image: url(../img/bg-list-5-3.jpg);
}

.header__item-inside--bg-5-4 {
  background-image: url(../img/bg-list-5-4.jpg);
}

.header__list-inside {
  height: 220px;
  overflow-x: none;
}

.simplebar-scrollbar::before {
  width: 2px;
  background-color: #fff;
}
.simplebar-offset {
  padding-bottom: 0;
}

.simplebar-track {
  right: -19px;
  background-color: #000;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
}

.simplebar-scrollbar.simplebar-visible {
  background-color: #fff;
}

/* hero */
.hero {
  position: relative;
}

.hero__swipper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

.hero__slide {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__slide--1 {
  background-image: url(../img/bg_hero-1.jpg);
}

.hero__slide--2 {
  background-image: url(../img/bg_hero-2.jpg);
}

.hero__slide--3 {
  background-image: url(../img/bg_hero-3.jpg);
}

.hero__container {
  padding: 52px 0 42px;
}

.hero__header {
  margin: 0;
  max-width: 600px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--color-font-light);
}

.hero__text {
  position: relative;
  top: -2px;
  margin: 0;
  margin-bottom: 90px;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-font-light);
}

.hero__btn {
  color: var(--color-font-light);
  background-color: var(--hover-element);
}

.hero__btn:focus {
  outline: 2px solid var( --color-element-light);
  outline-offset: 3px;
}

.hero__btn:hover {
  outline: 3px solid var( --color-element-light);
  outline-offset: 0;
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.hero__btn:active {
  outline: 3px solid var( --color-element-light);
  outline-offset: 0;
  background-color: var(--active-element);
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

/* abaut-us */
.about-us {
  padding-bottom: 70px;
}

.about-us__container {
  flex-direction: column;
}

.section__text {
  margin: 0;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-dark);
}

/* gallery */
.gallery {
  background-image: url(../img/bg-gallery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__header {
  color: var(--color-font-light);
}

.gallery__wrapper {
  flex-direction: column;
}

.gallery__filter {
  flex-direction: column;
}

.gallery__label-select {
  align-items: center;
  margin-bottom: 176px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-light);
}

.gallery__label-select:hover{
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

.gallery__label {
  align-items: center;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-light);
}

.gallery__label--select:hover {                       /*????????*/
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

.choices {
  padding-top: 10px;
  width: 400px;
}

.choices[data-type*=select-one] .choices__input {
  padding: 0;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  padding: 0;
  border: 1px solid var(--color-font-gray);
  border-radius: 6px;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  padding: 6px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-light);
}

.is-open .choices__inner {
  padding: 5px 14px;

  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

 .choices__list[aria-expanded].choices__list--dropdown .choices__item--selectable.is-highlighted {
  outline: 1px solid var(--color-font-gray);
  background-color: rgba(255, 255, 255, 0.2);
  cursor: url(../img/cursor-hero-hover.svg), pointer;

}

.choices__item.choices__item--choice.is-selected.choices__placeholder.choices__item--selectable {
  display: none;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices .choices__inner {
  padding: 0px 14px;
  min-height: 40px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.choices:focus .choices__inner {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices:hover .choices__inner {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

 .choices__list--single {
  padding: 0;
  padding-top: 2px;
  padding-right: 16px;
}

.choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-light);
  opacity: 1;
  cursor: inherit;
}

.choices[data-type*=select-one]::after {
  top: 75%;
  right: 16px;
  content: '';
  width: 8px;
  height: 8px;
  border: none;
  border-right: 1px solid var(--color-font-light);
  border-bottom: 1px solid var(--color-font-light);
  transform: translate(0, -75%) rotate(45deg);
}

.choices[data-type*=select-one].is-open::after {
  top: 75%;
  content: '';
  width: 8px;
  height: 8px;
  border: none;
  border-right: 1px solid var(--color-font-light);
  border-bottom: 1px solid var(--color-font-light);
  transform: translate(0, 50%) rotate(-135deg);
}

 .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__list[aria-expanded]{
  background-color: transparent;
}

.gallery__painting {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__swipper {
  margin: 0;
  padding-top: 85px;
  max-width: 1150px;
  /* height: 410px; */
}

.catalog__wrapper {
  padding: 2px;
}

.gallery__swiper-button-prev {
  top: 40px;
  left: 2px;
  width: 30px;
}

.gallery__swiper-button-next:focus svg{
  outline: 2px solid #000;
}

.gallery-swiper-button-next  {
  top: 40px;
  left: 102px;
  width: 30px;
}

.gallery__swiper-button-prev.swiper-button-disabled {
  opacity: 1 ;
}

.gallery__swiper-button-prev.swiper-button-disabled .gallery__btn {
  fill: #ececec;
  stroke: #ececec;
}

.gallery__swiper-button-prev.swiper-button-disabled .gallery__btn .gallery__pointer{
  stroke: #cacaca;
}

.gallery-swiper-button-next.swiper-button-disabled {
  opacity: 1 ;
}

.gallery-swiper-button-next.swiper-button-disabled .gallery__btn {
  fill: #ececec;
  stroke: #ececec;
}

.gallery-swiper-button-next.swiper-button-disabled .gallery__btn .gallery__pointer{
  stroke: #cacaca;
}

.gallery__btn {
  fill: #666;
  stroke: #666;
  transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.gallery__pointer {
  stroke: white;
  transition: stroke .3s ease-in-out;
}

.gallery__swiper-button-prev .gallery__btn {
  transform: rotate(180deg);
}

.gallery__btn:hover {
  fill: var(--color-element);
  stroke: var(--color-element);
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

.gallery__btn:active {
  margin: -3px;
  fill: var(--active-element);
  stroke: #000;
  cursor: url(../img/cursor-hero-active.svg), pointer;
}

.gallery__swiper-button-prev:after {
  display: none;
}

.gallery-swiper-button-next:after {
  display: none;
}

.gallery .swiper-pagination-fraction {
  max-width: fit-content;
}

.gallery-swiper-pagination {
  top: 25px;
  left: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-light);
}

.gallery__swiper-slide {
  position: relative;
  width: 350px;
  height: 350px;
  outline: 3px solid transparent;
}

.gallery__swiper-slide::before {
  position: absolute;
  top: 20px;
  left: 25px;
  content: '';
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/gallery-loop.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 81px 79px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.gallery__swiper-slide:hover::before{
  opacity: 1;
}

.gallery__swiper-slide::after{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: transparent;
}

.gallery__swiper-slide:focus {
  outline-color: var(--focus-element);
}

.gallery__swiper-slide:active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.gallery__label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.gallery__input {
  display: none;
}

.input__check {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  transform: translate(0, -50%);
  transition: border-color .3s ease-in-out;
}

.input__check::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--color-elemeny-extra);
  opacity: 0;
  transform: translate(-50%, -50%);
}

.gallery__input:checked + .input__check::before {
  opacity: 1;
}


.gallery__input:checked + .input__check {
  border-color: var(--active-element);
}

.gallery__label:focus {
  color: var(--color-elemeny-extra);
}

.gallery__label:focus .input__check{
  border-color: var(--active-element);
}

.gallery__label:hover {
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

.gallery__label:hover .input__check{
  border-color: var(--hover-element);
}

.gallery__label:active {
  cursor: url(../img/cursor-hero-active.svg), pointer;
}

.gallery__container {
  /* position: relative; */
  justify-content: space-between;
  width: 100%;
}

.modal {
  position: absolute;
  top: calc(50 - 250px);
  left: calc(50vw - 450px);
  display: none;
  width: 900px;
  height: 500px;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.modal__article {
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  background-color: #fff;
}

.modal__name {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-font-dark);
}

.modal__picture {
  padding: 0;
  margin: 0;;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-font-dark);
}

.modal__data {
  padding: 0;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-font-gray);
}

.modal__text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-font-dark);
}

/* catalog */
.catalog__cards {
  display: none;
  flex-direction: column;
  width: 50%;
  padding-right: 50px;
}

.catalog__figure {
  margin: 0;
}

.catalog__text {
  margin-bottom: 50px;
}

.catalog__pic-dsc {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-font-dark);
}

.catalog__time {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-font-gray);
}

.catalog__cards-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-dark);
}

.ac {
  position: relative;
  margin: 0;
  padding: 0;
  border-left: none;
  border-right: none;
  border-top: 1px solid #cacaca;
  border-bottom: none;
  background-color: transparent;
  transition: border-top-color .3s ease-in-out;
}

.ac:not(:last-child) {
  border-bottom: 1px solid #cacaca;
}

.ac .ac-trigger {
  padding: 41px 0;
  margin-bottom: -1px;
  border-bottom: 1px solid #cacaca;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-font-dark);
}

.ac .ac-trigger::after {
  content: '';
}

.ac .ac-panel .ac-text {
  padding: 25px 0;
  height: 338px;
  columns: 3;
  column-gap: 63px;
  column-fill: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-dark);
}

.ac.is-active .ac-header .ac-trigger::after {
  content: '';
}

.catalog__cards--active {
  display: flex;
}

.catalog__icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  fill: #ececec;
  stroke: transparent;
  transition: transform .3s ease-in-out, fill .3s ease-in-out, stroke .3s ease-in-out;
}

.is-active .catalog__icon {
  transform: translate(0, -50%) rotate(-180deg);
  fill: var( --color-element-light);
  stroke: var( --hover-element);
}

.ac.is-active {
  border-top-color: var( --hover-element);
}

.is-active .ac-trigger {
  border-color: var( --hover-element);
  color: var( --hover-element);
}

.ac.is-active .ac-trigger:focus {
  color: var( --hover-element);
}

.catalog__trigger-header {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  transition: background-color .3s ease-in-out;
}

.ac .ac-trigger:focus {
  outline: none;
}

.ac .ac-trigger:focus .catalog__trigger-header{
  background-color: var(--color-element);
  color: var(--color-font-light);
}

.ac .ac-trigger:active .catalog__trigger-header{
  background-color: transparent;
  color: var(--active-element);
}

.ac .ac-trigger:focus .catalog__icon {
  fill: var( --color-element-light);
}

.ac .ac-trigger:hover .catalog__icon {
  fill: var( --color-element-light);
}

.catalog__trigger {
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
}

.ac .ac-trigger:hover {
  border-color: var(--color-element);
  color: var(--color-element);
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.ac .ac-trigger:active {
  border-color: var(--active-element);
  color: var(--active-element);
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

.ac:hover {
  border-top-color: var(--color-element);
}

.ac:active{
  border-top-color: var(--active-element);
}

.catalog__ac-item {
  position: relative;
  width: fit-content;
  outline: none;
  transition: background-color .3s ease-in-out;
}

.catalog__ac-item::after {
  position: absolute;
  left: 0;
  bottom: 3px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--color-element);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.catalog__ac-item:focus {
  background-color: var(--color-element);
}

.catalog__ac-item:hover {
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.catalog__ac-item:active {
  background-color: transparent;
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

.catalog__ac-item:hover::after {
  opacity: 1;
}

.catalog__ac-item:active::after {
  opacity: 0;
}

/* events */
.events__swiper.swiper {
  padding: 0 25px;
  margin: 0 -25px;
  width: 100%;
  height: auto;
}

.events__swiper-button-next:after {
  content: '';
}

.events__swiper-button-prev:after {

  content: '';

}

.events__swiper-button {
  position: absolute;
  width: 50px;
  height: 50px;
  fill: #ececec;
  stroke: #ececec;
}

.events__swiper-button-prev .events__swiper-button {
  transform: rotate(-180deg);
}

.events__swiper-button-prev:focus .events__swiper-button {
  stroke: var(--color-element);
}

.events__swiper-button-next:focus .events__swiper-button {
  stroke: var(--color-element);
}

.events__swiper-button:hover {
  fill: var( --color-element-light);
  stroke: var( --color-element-light);
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.events__swiper-button:active {
  fill: var( --color-element-light);
  stroke: var(--color-element);
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

.events__swiper-button-prev.swiper-button-disabled, .events__swiper-button-next.swiper-button-disabled  {
  display: none;
}

.events__slide {
  flex-direction: column;
}


.events__picture {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.events__picture--1 {
  background-image: url(../img/events-1.jpg);
}

.events__picture--2 {
  background-image: url(../img/events-2.jpg);
}

.events__picture--3 {
  background-image: url(../img/events-3.jpg);
}

.events__picture--4 {
  background-image: url(../img/events-4.jpg);
}

.events__picture--5 {
  background-image: url(../img/events-5.jpg);
}

.events__dscr {
  min-height: 400px;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 50px;
  padding-bottom: 43px;
  border: 1px solid #cacaca;
  border-top: none;
}

.events__article {
  margin-bottom: auto;
}

.events__date, .events__place {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-font-gray);
}

.events__date {
  margin-bottom: 13px;
}

.events__header {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-font-dark);
}

.events__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.events__link {
  position: relative;
  padding: 8px;
  width: fit-content;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-element);
  background-color: transparent;
  transition: color .3s ease-in-out, background-color .3s ease-in-out ;
}

.events__link::after {
  position: absolute;
  left: 8px;
  bottom: 8px;
  content: '';
  width: calc(100% - 16px);
  height: 1px;
  background-color: var(--color-element);
  transition: background-color .3s ease-in-out;
}

.events__link:focus {
   color: var(--color-font-light);
   background-color: var(--color-element);
}

.events__link:focus::after {
  background-color: var(--color-font-light);
}

.events__link:hover {
  color: var(--focus-element);
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.events__link:hover::after {
  background-color: var(--focus-element);
}

.events__link:active {
  color: var(--color-font-dark);
  background-color: transparent;
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

.events__link:active::after {
  background-color: var(--color-font-dark);
}

/* Projects */
.project__text {
  margin-bottom: 38px;
  max-width: 1080px;
}

.project__tooltip {
  position: relative;
  top: 5px;
  outline: none;
  fill: none;
}

.tippy-box {
  border: none;
  border-radius: 0;
  background-color: var( --hover-element);
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
  border-top-color: var( --hover-element);
}

.tippy-content {
  padding: 8px 11px 14px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-font-light);
}

.project__partners-header {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-font-dark);
}

.project__swiper{
  align-self: center;
  width: 100%;
  padding: 0 75px;
  height: auto;
}

.project__wrapper {
  padding: 1px;
}

.project__slide {
  width: 450px;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  outline: 1px solid transparent;
}

.swiper-slide-visible {
  opacity: 1;
}

.project__slide--1 {
  background-image: url(../img/partners-1.jpg);
}

.project__slide--2 {
  background-image: url(../img/partners-2.jpg);
}

.project__slide--3 {
  background-image: url(../img/partners-3.jpg);
}

.project__slide--4 {
  background-image: url(../img/partners-4.jpg);
}

.project__slide--5 {
  background-image: url(../img/partners-5.jpg);
}

.project__slide--6 {
  background-image: url(../img/partners-6.jpg);
}

.project__slide--7 {
  background-image: url(../img/partners-7.jpg);
}

.project__slide--8 {
  background-image: url(../img/partners-8.jpg);
}

.project__slide--9 {
  background-image: url(../img/partners-9.jpg);
}

.project__slide:focus {
  outline: 1px solid var(--color-element);
}

.project__slide:hover {
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.project__slide--1:hover {
  background-image: url(../img/partners-color-1.jpg);
}


.project__slide--2:hover {
  background-image: url(../img/partners-color-2.jpg);
}

.project__slide--3:hover {
  background-image: url(../img/partners-color-3.jpg);
}

.project__slide--4:hover {
  background-image: url(../img/partners-color-4.jpg);
}

.project__slide--5:hover {
  background-image: url(../img/partners-color-5.jpg);
}

.project__slide--6:hover {
  background-image: url(../img/partners-color-6.jpg);
}

.project__slide--7:hover {
  background-image: url(../img/partners-color-7.jpg);
}

.project__slide--8:hover {
  background-image: url(../img/partners-color-8.jpg);
}

.project__slide--9:hover {
  background-image: url(../img/partners-color-9.jpg);
}

.project__slide:active {
  outline: 1px solid var(--color-element);
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

.project__container {
  position: relative;
  flex-direction: column;
}

.project__swiper-button-next:after {
  content: '';
}

.project__swiper-button-prev:after {
  content: '';
}

.project__tooltip:focus {
  fill: var( --color-element-light);
}

.project__tooltip:hover {
  fill: var( --color-element-light);
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.project__tooltip:active {
  fill: var(--color-element);
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

.project__tooltip:active .project__tooltip-exlimation {
  fill: var(--color-font-light);
}

.project__link {
  position: relative;
  padding: 8px;
  line-height: 1;
  color: var(--color-element);
}

.project__link::after {
  position: absolute;
  left: 8px;
  bottom: 5px;
  content: '';
  width: calc(100% - 16px);
  height: 1px;
  background-color: transparent;
}

.project__link:focus {
  color: var(--color-font-light);
  background-color: var(--color-element);
}

.project__link:hover {
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.project__link:hover::after {
  background-color: var(--color-element);
}

.project__link:active {
  color: var(--active-element);
  background-color: transparent;
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

.project__link:active::after {
  background-color: var(--active-element);
}

.project__btn {
  fill: #ececec;
  stroke: #ececec;
}

.project__swiper-button-prev, .project__swiper-button-next {
  outline: none;
}

.project__swiper-button-prev .project__btn {
  transform: rotate(-180deg);
}

.project__swiper-button-prev:focus .project__btn {
  stroke: var(--color-element);
}

.project__swiper-button-next:focus .project__btn {
  stroke: var(--color-element);
}

.swiper .project__btn:hover {
  fill: var( --color-element-light);
  stroke: var( --color-element-light);
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.swiper .project__btn:active {
  stroke: var(--color-element);
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

/* contacts */
.contacts {
  border-top: 1px solid #cacaca;
  padding-bottom: 0;
}

.contacts__container {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.contacts__address {
  flex-direction: column;
}

.contacts__header{
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.contacts__shop-address {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
 }

 .contacts__label {
   position: relative;
 }

.contacts__label:not(:last-child) {
  margin-right: 20px;
 }

.contacts__input {
  padding: 9px 24px;
  width: 270px;
  outline: none;
  border: 1px solid #333;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-font-gray);
  background-color: transparent;
  transition: background-color .3s ease-in-out;
 }

 .contacts__input:focus {
   background-color: #ececec;
 }

 .contacts__input:hover {
  background-color: #ececec;
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.contacts__input:active {
  background-color: transparent;
}

 .contacts__btn {
  padding: 15px 33px;
  height: fit-content;
  outline: 2px solid transparent;
  outline-offset: 3px;
  transition: outline-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
 }

 .contacts__btn:focus {
   outline-color: var(--color-elemeny-extra);
 }

 .contacts__btn:hover {
  outline-color: transparent;
  background-color: var(--color-element);
  color: var(--color-font-light);
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
}

.contacts__btn:active {
  outline-color: var( --color-element-light);
  outline-offset: 0;
  background-color: var(--active-element);
  color: var(--color-font-light);
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
}

 .contacts__s-media {
  flex-direction: column;
 }

 .contacts__s-media .contacts__header {
  margin-bottom: 6px;
 }

 .contacts__item {
  position: relative;
  opacity: 1;
  transition: opacity .3s ease-in-out;
 }

 .contacts__item:not(:last-child) {
  margin-right: 20px;
 }


 .contacts__item::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 100%;
  transition: border-color .3s ease-in-out;
 }

 .contacts__item:focus .contacts__icon {
   opacity: 0.5;
 }

 .contacts__item:hover {
  cursor: url(../img/cursor-hover-black-stroke.svg), pointer;
 }

 .contacts__item:hover .contacts__icon {
  opacity: 0.5;

}

.contacts__item:active {
  cursor: url(../img/cursor-active-black-stroke.svg), pointer;
 }

.contacts__item:active .contacts__icon {
  opacity: 1;

}

.contacts__item:active::after {
  border-color: var(--color-element);
}


 .just-validate-error-label {
  position: absolute;
  left: 25px;
  top: -20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #d11616;
 }

 [class*="ground-pane"] {
  filter: grayscale(1);
 }

 .contacts__map {
  border-top: 1px solid #cacaca;
 }

 .contacts__map-zoom {
   background-color: #cacaca;
 }

 .contacts__map-btn {
   top: 0;
   margin: -10px;
   padding: 20px;
   border: 1px solid red;
   border-radius: 0;
   z-index: 1000;
   line-height: 0;
   background-color: var(--active-element);
 }

 /* footer */
.footer {
  background-color: var(--color-bg-dark);
}

.footer__container  {
  justify-content: space-between;
  padding: 50px 0;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__icon {
  fill: #cacaca;
}

.footer__link {
  outline: none;
}

.footer__link:focus .footer__icon {
  fill: var(--color-font-light);
}

.footer__link:hover .footer__icon {
  fill: var(--color-font-light);
}

.footer__link:hover {
  cursor: url(../img/cursor-hero-hover.svg), pointer;
}

.footer__link:active .footer__icon {
  fill: var(--color-element);
}

.footer__link:active {
  cursor: url(../img/cursor-hero-active.svg), pointer;
}
